@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@layer components {
  .app-drag {
    -webkit-app-region: drag;
  }
  .app-prevent-drag {
    -webkit-app-region: no-drag;
  }
}
dialog::backdrop {
  inset: 28px 0 0 0;
}
